<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Add Member</title>
		<meta http-equiv="Content-Type" content="text/html"/>
		<meta charset="UTF-8"/>
		<link type="text/css" rel="stylesheet" 
			href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
	</head>
	<body>
		<h1>Add book</h1>
		<div>
			<form th:object="${member}" th:action="@{save}" action="#" method="post">
			
				<!-- This form allows admins to add new members/tutors -->
			
				<label for="username">Username</label>
				<input type="text" id="username" th:value="${user.username}"  class="form-control"/>
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<label for="password">Password</label>
				<input type="password" id="password" th:value="${user.passwordHash}"  class="form-control"/>
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<label for="role">Role (USER = default access, ADMIN = admin)</label>
				<input type="text" id="role" th:value="${user.role}"  class="form-control"/>
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<label for="firstname">First name</label>
				<input type="text" id="firstname" th:value="*{firstName}"  class="form-control"/>
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<label for="surname">Surname</label>
				<input type="text" id="surname" th:value="*{surname}"  class="form-control"/>
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<label for="email">Email</label>
				<input type="email" id="email" th:value="*{email}"  class="form-control"/>
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<label for="valid">Valid to</label>
				<input type="text" id="valid" th:value="*{valid}"  class="form-control"/>
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<label for="membership">Membership</label>
				<select id="memlist" th:field="*{membership}" class="form-control">
					<option th:each="membership: ${memberships}"
						th:value="${membership.membershipid}"
						th:text="${membership.name}"></option>
				</select>
				<div style="clear: both; display: block; height: 10px;"></div>
				<!-- This allows the saving of the data entered -->
				<input type="submit" class="btn btn-success" value="Save"></input>
				
			</form>
		</div>
	</body>
</html>