<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Sign Up</title>
		<meta http-equiv="Content-Type" content="text/html"/>
		<meta charset="UTF-8"/>
		<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.css}"/>
	</head>
	<body>
		<div class="col-md-4">
			<h1>Sign-up</h1>
		</div>
		<div class="col-md-4"> <!-- This form allows people to signup for membership -->
			<form th:object="${signupform}" th:action="@{/saveuser}" action="#" method="post">
				<div>
					<label> Username :<input type="text" th:field="*{username}" class="form-control"/></label>
					<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>	
				</div>
				<div>
					<label> Password :<input type="password" th:field="*{password}" class="form-control"/></label>
					<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>	
				</div>
				<div>
					<label> Re-type Password: <input type="password" th:field="*{passwordCheck}" class="form-control"/></label>
					<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>	
				</div>
				<div>
					<label>First name :<input type="text" th:field="*{firstName}" class="form-control"/></label>
					<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name Error</p>	
				</div>
				<div>
					<label> Surname :<input type="text" th:field="*{surname}" class="form-control"/></label>
					<p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</p>	
				</div>
				<div>
					<label> Email :<input type="email" th:field="*{email}" class="form-control"/></label>
					<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>	
				</div>				
				<div>
					<input type="submit" class="btn btn-success" value="Signup"></input> <!-- Submit new signup to db -->
					<a href="/login" class="btn btn-danger">Cancel</a>  <!-- Cancel signup of new account and return to login -->
				</div>	
			</form>
		</div>
	</body>
</html>